#app {
  background-image: url(https://elperuano.pe/fotografia/thumbnail/2021/08/17/000127499M.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  background-position: center center;
}

.contenedor{
  margin: auto;
  width: 30%;
}

.poste{
  width: 20px;
  height: 20px;
  background: black;
  margin: auto;
}

.semaforo {
  margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 70px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .foco {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
    background-color: #444;
    transition: background-color 0.3s;
  }
  
  .red {
    background-color: red;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  
  .purple {
    background-color: #b0b;
  }
  
  .activo-red {
    box-shadow: 0 0 20px 5px rgb(250, 1, 1);
  }

  .activo-yellow {
    box-shadow: 0 0 20px 5px rgb(246, 255, 0);
  }

  .activo-green {
    box-shadow: 0 0 20px 5px rgb(0, 255, 4);
  }

  .activo-purple {
    box-shadow: 0 0 20px 5px rgb(230, 3, 251);
  }

  .boton{
    display: inline-block;
    margin-left: 10px;
  }

  .container-boton{
    margin: auto;
    width: 65%;
    margin-top: 60vh;
  }
  